*{
  margin: 0;
  padding: 0
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_container {
  /* height: 100vh;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: row;
  background-color: brown;
  border-radius: 25px;
}
.login_container {
  padding: 30px 100px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background-color: brown;
}
.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button_container button{
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.button_container button:hover{
  transition: all 0.2s ease-in;
  border: 1px solid black;
}

.main_container_image {
  width: 300px;
  height: 300px;
  border-top-left-radius: 25px;
}
.login_container_forgetPassword {
  align-self: center;
  color: black;
  font-weight: 500;
}

.support{
  position: absolute;
  padding: 5px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 15px;
  border: 1px solid black;
  top: 581px;
  right: 33.10vh;
  width: 661px;
}
